src/conf/xml-resources/jaxb/Category/CategorySchema.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xsd:schema version="1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
           <xsd:complexType name="cateType">
               <xsd:sequence>
                   <xsd:element name="id" type="xsd:int"/>
                   <xsd:element name="name" type="xsd:string"/>
               </xsd:sequence>
           </xsd:complexType>
</xsd:schema>
